@model Dictionary<string, EditField>

@{
    ViewBag.Title = "SecondAction";
}

<h2>SecondAction</h2>


@foreach (var item in Model)
{
    <p>
        <b>Klucz:</b> @item.Key                <b>Wartość:</b> @item.Value.Value              <b>Symbol:</b> @item.Value.Symbol
    </p>
    
    
   
    

       
}

@Html.ActionLink("First", "Index")
